<div class = 'container'>
	<div class='about'>
		<h1>What is lazyboy surfboards?</h1>
		<p>
			“Lazyboy Surfboards is a surfers driven company and has built a reputation for selling quality high-performance surfboards and customs. Mixing a global view and a local knowledge, the group has been able to feed their surf addiction since 1969.

			Along the way came the surf shops, the surf contests, the friends, the profesional Lazyboy surfers, the good and the bad, the surf schools and the stokedness; Surfing at its finest. Lazyboy Surfboards is all about surf and always will be.”
		</p>
		<div class = 'row about'>
			<div class = 'col-lg-4 col-md-4 col-xs-12 about_img' >
	      <%= image_tag("IMG_p4", :alt => "one") %>
			</div>
			<div class = 'col-lg-4 col-md-4 col-xs-12 about_img' >
	      <%= image_tag("IMG_p5", :alt => "one") %>
			</div>
			<div class = 'col-lg-4 col-md-4 col-xs-12 about_img' >
	      <%= image_tag("IMG_p6", :alt => "one") %>
			</div>
		</div>
	</div>
</div>
