
.rating, .product-reviews,
.pagination, .rated, 
.product_info h4 {
	margin-left: 33px;
}
.comments {
	display: inline-block;
}
.form_payment {
	margin-left: 33px;
}
.submit-btn {
	background-color: #fff;
}