// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.log_in {
	margin-top: 27px;
	margin-bottom: 140px;
	}
	.log_in >h2 {
	margin-top: 0px;
}
.new_user {
	margin-top: 50px;
}
.field {
	margin-bottom: 10px;
    border: 1px solid black;
    border-style: none;
}
@media screen and (max-width: 620px) {
	.log_in {
	margin-bottom: 50px;
	}
}